body {
  margin: 0;  
  font-family: Arial, Helvetica, sans-serif;

}


strong{

  color:#4169e1;
}


.topnav {
  overflow: hidden;
  background-color: #343a40;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4169e1;
  color: white;
}

.table{

  margin: 0px;
}

#imagem{

	height: 200px;
	width: 200px;
	border: 2px solid black;
	border-radius: 25%;
	
	
}

.div_imagem{

  height: 200px;
  width: 200px;
  float: right;
  margin: 40px;

}

.div_texto{

   margin:15px 30px 30px 15px;


}

.texto_informativo{

  margin-top: 2%;
  font-size: 18px;

}

.thead-blue{

  background-color: #4169e1;
  color:white;

}

.centrar{

  text-align: center;

}

#tabela_corriculo{

  border: 1px solid black;
}

.button{

  width: 30px;
  height: 30px;
  margin: 0px 5px 0px 3px;


}

.telemovel{

  width: 30px;
  height: 30px;
  margin: 0px !important;


}



footer{
  position: relative;
  bottom: 0%;
  
}
.footer_distribuido{
   background-color: #343a40;
   color:white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 25px;

}
 
.footer_distribuido .footer-left,
.footer_distribuido .footer-center,
.footer_distribuido .footer-right{
  display: inline-block;
  vertical-align: top;
}
 
.footer_distribuido .footer-left{
  width: 40%;
}


.footer_distribuido h3{
  color:  #58c7d5;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
 
.footer_distribuido h3 span{
  color:  white;
  
}

.footer_distribuido .Rasmusic{

text-decoration: none;
}
 
 
.footer_distribuido .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
 
.footer_distribuido .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.footer_distribuido .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 
 
.footer_distribuido .footer-center{
  width: 35%;
}
 
.footer_distribuido .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer_distribuido .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.footer_distribuido .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
 
.footer_distribuido .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
 
.footer_distribuido .footer-center p a{
  color:  white;
  text-decoration: none;;
}
 
.footer_distribuido .footer-right{
  width: 20%;
}
 
.footer_distribuido .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer_distribuido .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.footer_distribuido .footer-icons{
  margin-top: 25px;
}
 

